confluent-kafka
fastapi
fastembed
fastmcp
gradio
groq
langchain-community
langchain-openai
langchain-text-splitters
markdown
openai
pyngrok
pypdf
python-dotenv
qdrant-client
sentence-transformers
unstructured
uvicorn